body {
    color: white;
    text-align: left;
    font-family: georgia, arial;
    font-size: 18px;
    overflow: hidden;
    background: url(ricey.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    left: 80px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}